
<form [formGroup]="loginForm"  (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="email" formControlName="email">
  </mat-form-field>
  <mat-error *ngIf="email.invalid && email.touched">
    Please enter a valid email address
  </mat-error>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="password" formControlName="password">
    <mat-error *ngIf="password.invalid&&password.touched">
      Password is required
    </mat-error>
  </mat-form-field>

</form>

  <button mat-raised-button [disabled]="loginForm.invalid" color="primary"  type="submit" >Login</button>
  or 
  <ng-template #login>
    <button mat-raised-button color="primary"  (click)="user.login()">Login as Google</button>
</ng-template>

<div *ngIf="user.uid | async as uid;else login">
  The user is logged in. {{uid}}
  <div *ngIf="user.isAdmin | async">The user also has ADMIN super power</div>
  <button mat-raised-button color="primary"   (click)="user.logout()">Logout</button>
</div>