.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-grid-tile {
  background: lightblue;
}

.tile {
  cursor: pointer;
}

.tile:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}